{% extends 'Dashboard/base.html.twig' %}
{% block title %}
	Stock

{% endblock %}
{% block body %}

	{% include './Dashboard/navbar.html.twig' %}
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>DataTables</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="#">Home</a>
							</li>
							<li class="breadcrumb-item active">DataTables</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
							</div>
						{% endfor %}
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Ajouter un Article</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<a class="js-delete">
									{{ form_start(form) }}
									{{ form_rest(form) }}
									<button class="btn btn-success">Ajouter</button>
									{{ form_end(form) }}
								</a>
							</div>
							<!-- /.card-body -->
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
{% endblock %}
